<footer>
    <ul class="layout-footer-link inlineBlock">
        <li class="link Limitations and fees"><a href="/fees" class=" ">Limitations and fees</a></li>
        <li class="link Contact us"><a href="/contact-us" class=" ">Contact us</a></li>
    </ul>
    <p class="footer">@ COPYRIGHT 2019 BITFUN</p>
</footer>