
            <div class="LoadingIndicator  "></div>
            
            <header class="layout-header">
            	<a href="./" class="logo"><img src="img/Logo.png"></a>
                <ul class="layout-link">
                    <li class="inactive link Home"><a href="./">Home</a></li>
                    <li class="inactive link Trading"><a href="trading">Trading</li>
                    <li class="inactive link Assets"><a href="assets">Assets</li>
                    <li class="inactive link Setting"><a href="setting">Setting</a></li>
                    <li class="inactive link Setting"><a href="fees">Fees</a></li>
                </ul>

                <div class="btns FR">
                    
                    <select id="lng" class="lng-selector">
                        <option value="">Language</option>
                        <option value="en">English</option>
                        <option value="zh_tw">繁體中文</option>
                    </select>

                    <button class="btn btn-submit" onclick="window.location='./login'; ">Login</button>
                </div>

            </header>