@charset "utf-8";

@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

@import url('style.css');
@import url('main.css');
@import url('trading.css');
@import url('member.css');
@import url('rwd.css');

