@charset "utf-8";

body,button{font-family: 'Open Sans','Noto Sans TC', sans-serif !important;}
p{margin-bottom:1em;}
h1,h2,h3,h4{margin-bottom:.5em;}

html,body{height:100%;}
body{
	color:#cdeaff;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#262f3d+1,141d2d+100 */
}

.btn.focus, .btn:focus, .btn:hover{color:inherit;outline:none;}

#root{
	min-height:100%;
	padding-bottom:50px;
    background: #262f3d; /* Old browsers */
	background: -moz-linear-gradient(top,  #262f3d 1%, #141d2d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #262f3d 1%,#141d2d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #262f3d 1%,#141d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262f3d', endColorstr='#141d2d',GradientType=0 ); /* IE6-9 */

	}

h2 {margin-bottom:1em;}

h2 b{color:#cdeaff;font-size:22px;display:inline-block;padding:0 1em 0 .2em;position:relative;}
h2 b:after{background-color:#fff;border-radius:3px;height:5px;content:"";position:absolute;width:100%;bottom:0;left:0;
				display:block;transform:translateY(.62em);
			}

h2.lineTitle{border-bottom:1px solid #485877;padding-bottom:.3em;}

.h3-text{color:#83aaf3;font-size:16px;}
.text{color:#c0c1c1}

.title-dobuleline{display:table;margin-top:2em;}
.title-dobuleline:before,
.title-dobuleline:after{
	display:table-cell;
	vertical-align:middle;
	border-top:1px solid #88a5df;
	content:"";
	width:50%;
}

.title-dobuleline b{
	display:table-cell;white-space:nowrap;color:#88a5df;font-size:15px;
	transform:translateY(-.5em);padding:0 .5em;
}


ol li{margin-bottom:1em;}

/*layout*/
main{clear:both;padding-top:150px;}
main .ct{max-width:860px;margin:auto;padding:50px 30px;}
main .ctW{max-width:1200px;margin:auto;padding:50px 30px;}

main .ct,main .ctW{padding-bottom:90px}


footer{text-align:center;position:fixed;width:100%;bottom:0;left:0;
		border-top:1px solid #4a515d;background-color:#192338;
		padding-top: .5em;
}

footer .layout-footer-link{margin:auto;}
footer .layout-footer-link li{}
footer .layout-footer-link li a{padding:0 .5em;text-decoration:underline;}

footer p{margin-bottom:0;line-height:2;z-index: 999;font-size: 12px;letter-spacing:0;color:#858d9e;}

/*****************header*******************/

.layout-header{
	padding:0 2em;
	position:fixed;width:100%;
	z-index: 99;
	left:0;top:0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2f5ba9+0,2a529f+100 */
	background: #2f5ba9; /* Old browsers */
	background: -moz-linear-gradient(top,  #2f5ba9 0%, #2a529f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2f5ba9 0%,#2a529f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2f5ba9 0%,#2a529f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f5ba9', endColorstr='#2a529f',GradientType=0 ); /* IE6-9 */

}


.layout-header .logo{position:absolute;left:calc(50% - 96px);top:5px;}
.layout-header .logo img{position:relative;z-index: 10}
.layout-header .logo:after{position:absolute;content:"";width:75px;height:75px;border-radius:100%;left:5px;top:-5px;z-index:0;
background: -webkit-linear-gradient(#2f5ba9 0%, #2a529f 100%);
background: -o-linear-gradient(#2f5ba9 0%, #2a529f 100%);
background: linear-gradient(#2f5ba9 0%, #2a529f 100%);
}

.layout-link{text-align:center;float:left;}
.layout-link li{color:#cdeaff;text-decoration:none !important;vertical-align:middle;display:inline-block;
	                 position:relative;margin: 0 .6em;padding:.9em 0;font-size:18px;}
.layout-link li a{color:#cdeaff;display:block;}
.layout-link li:after{background-color:#ffff;position:absolute;content:"";width:0;height:3px;display:block;transition:all .7s;}
.layout-link li:hover:after{width:100%;}
.layout-link li:hover a{color:#fff;}


/*btn*/

.layout-header .btns{margin-right:-2em;}
.layout-header .btn{
	border-radius:0;
	font-size:24px;
	height: 64px;
	vertical-align: middle;
	float:none;
	color:#fff;
}

.layout-header .btn:hover{
	opacity:.7;
}

.layout-header .lng-selector{
	background-color: #224282;
	background-image: url(../img/arrow.png);
	border:1px solid #597bb2;
	display:inline-block;width:auto;
	padding:.5em 2em .5em 1em;
	margin-bottom:0;
	color:#fff;
	border-radius:5px;
	letter-spacing:0;
	margin-right:10px;
	vertical-align: middle;
}


/*********************links************************************/

.sub-nav{
	width:100%;
	top:62px;
	left:0;
	background:#1b2c4c;
	position:fixed;
	text-align:center;
	z-index: 50;
	border-bottom:1px solid #44536d;
}

.sub-nav li{padding:1em 0;display:inline-block;margin:0 1em;font-size:15px;color:#fff;
				text-decoration:none;position:relative;transition:all .7s;}
.sub-nav li a{color:#fff;}
.sub-nav li:after{background-color:#6597e7;position:absolute;content:"";width:0;height:3px;display:block;transition:all .7s;bottom:0;}

.sub-nav li.active a,.sub-nav li:hover a{color:#6597e7}
.sub-nav li.active:after,.sub-nav li:hover:after{width:100%;}

/*******************content***************************/



.table{}
.table>thead>tr>th{border-bottom:none;}
.table td{border-color:#424a5a !important;}

.table td .btn{background:#fff;color:#333;padding:.2em .5em;font-size:13px;margin:0 5px}
.table td .btn:hover{background:#ff6600;color:#fff;}




/************************styles************************/
.link{color:#508fff;cursor:pointer;}
.link.linkGray{color:#a7a7a7;}

.btnBlue{background:#224282;color:#fff;}
.btnBlue:hover{background:#FFF;color:#224282;}

input.blackInput{background:#000a1e;border:1px solid #6d6d6d;color:#eee;}
::-webkit-input-placeholder {color:#6d6d6d}

.hideBtn{background: #f69002;}


/************************modal************************/
.modal{position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); display: block;}
.modal-section{padding: 20px;position: fixed;background:#d8d8d8;width:100%;max-width:500px;height: auto;top: 50%;left: 50%;transform: translate(-50%, -50%);}

.otp-verify{color:#333;}
.otp-verify .btn-submit{color:#FFF;}
.otp-verify img{height: 120px;margin: auto;display: block;}
.otp-verify .form .text{color:#555;margin-bottom: 0;}
.otp-verify .form hr{border-color: #adadad;}


.deposit-form h2 b{color:#333; color: #cdeaff;}
.deposit-form h2 b:after{background-color: #969696;}
.deposit-form .text{color:#777;margin:.5em 0 .2em;}
.deposit-form button{margin-top:20px;}


.modal-section {word-break: break-all;}


/*calnader*/
.react-datepicker{font-size: 13px !important}
.react-datepicker__day,
 .react-datepicker__day-name, 
 .react-datepicker__time-name{

	width: 3rem !important;
    line-height: 3rem !important;
    margin: .1rem !important;
}