@charset "utf-8";
/*login*/
.login,
.signup,
.request-pwd-change{
	max-width:860px;
	padding:50px 30px;
	border-radius:20px;
	margin:auto;
	box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.17);

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3e567f+0,222f45+100 */
	background: #3e567f; /* Old browsers */
	background: -moz-linear-gradient(top,  #3e567f 0%, #222f45 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3e567f 0%,#222f45 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3e567f 0%,#222f45 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e567f', endColorstr='#222f45',GradientType=0 ); /* IE6-9 */

}

.request-pwd-change .img{display:block;margin:auto;}

.form .text{color:#aaaaaa;}
.form select{margin-bottom:1em;}

.btn-submit{
	color:#fff;
	min-width:140px;
	float:right;text-transform:uppercase;
	border:none;border-radius:15px;line-height:1.8;
	background: -webkit-linear-gradient(#ffa000 0%, #ff6b00 100%);
	background: -o-linear-gradient(#ffa000 0%, #ff6b00 100%);
	background: linear-gradient(#ffa000 0%, #ff6b00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */			
}
.btn-submit:hover{color:#fff;}

.login .link{font-size:13px;}
.login .link.link-forget{padding-left:1em;vertical-align:middle;}


.formList {padding-top:20px;}
.formList dl{margin-bottom:1em;}
.formList dt{color:#c0c1c1;padding-left:2em;width:25%;}
.formList dt p{margin-bottom:0;}
.formList dt p:after{content:"-";padding-left:.5em;}

.formList dd{}
.formList dd input{background:#0e1726;border:1px solid #445e88;color:#acb5c2;
							padding:.4em 2em;border-radius:15px;
							max-width:400px;
						}

.formList .message,.error-message{margin: .5em 0 0 1em;color: #f73b03;}

error-massage

.phoneList{}
.phoneList dt {width:7em;}
.phoneList dd {padding:0 .5em;}
.phoneList dd  select{width:130px;float:left;margin-bottom:0;font-size:13px;padding:.9em 1em;background-position: calc(100% - 5px) center;}
.phoneList dd  input[type=text]{width:calc(100% - 130px);float:right;padding: .61em 2em;border-radius:0;border-color:#656565;}


/*setting*/
.modifyList{margin-bottom:20px;padding-bottom:30px;border-bottom: 1px solid #485877;}
.modifyList>dl{padding:.2em 0;}
.modifyList>dl>dt{font-size:16px;width:10em;color: #eee;padding-left:.5em;}
.modifyList>dl>dd.modify-txt{color: #ec9f2c;}
.modifyList>dl>dd.modify-btn{width:50px;}

.modifyList>dl>dd.modify-btn button{background-color: #224281;color:#fff;}


.securityTxt{padding:2em;}

.security-stepList{text-align:center;margin:20px auto;}
.security-stepList li{
				margin:0 10px;width:140px;height:140px;border-radius:100%;
				background:#1b2c4c;border:1px solid #445e88;
				display:inline-flex;
				align-items:center;
				justify-content: center;
			}
.security-stepList li div{
	color:#fff;
}

.security-stepList li div p{line-height:1.2;font-size:13px;margin:0 2em}

.security-stepList li div i{font-size:50px;margin-bottom:5px;}

.security .qr{width:200px;margin:auto;}


/*account*/
.account-amount{background:#34486b;border:5px solid #647ca0;
				border-radius:100%;
				width:230px;height:230px;margin:auto;text-align:center;
				box-shadow: inset 0 0 9px 2px rgba(0, 0, 0, 0.41);
			}
.account-amount>div{width:100%;}
.account-amount h2{
	text-align: center;
    color: #ffba00;
    font-size: 30px;
    margin-bottom: .5em;
    width: 90%;
    margin: 20px auto;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.account-amount h2 small{color:#f4f4f4;	font-size:18px;}

.account-amount h5{color:#fff;border-top:1px solid #8b8b8b;width:80%;margin:auto;padding-top:.5em;position:relative;}
.account-amount h5:before{
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 8px 8px;
	border-color: transparent transparent #8b8b8b transparent;
	position:absolute;
	left:calc(50% - 8px);
	top:-8px;

}

.noticeList{margin-bottom:2em;}
.noticeList li{margin-bottom:1em;}


/*deposit*/
.deposit .row>div{
	padding: 0 30px;
}

.deposit-copy{margin-bottom:10px}
.deposit-copy dd{width:60px;}
.deposit-copy dd .copy-btn button{border-radius:0 5px 5px 0;line-height:2.2;background: #f68903;color:#fff;}


.dealList{border-bottom:1px solid #999;margin:1em 0;padding-bottom:1em;}
.dealList dt{color:#fff;width:10em}
.dealList dd{color:#ffc000;text-align:right;}


.calendarList{}
.calendarList dt,.calendarList dd{display:inline-block;vertical-align:top;}
.calendarList dt{width:calc((100% - 80px - 40px) / 2)}
.calendarList dt input{padding-right:0;}

.calendarList dd.c1{width:40px;background:#fff;color:#000;line-height:44px;text-align:center;}
.calendarList dd.c2{}
.calendarList dd.c2 button{border-radius:0 5px 5px 0;line-height:2.4;min-width:80px;}

.calendarList .message{font-size:12px;padding-top:.5em;padding-left: .5em;}

.searchRow{margin-bottom:20px;}


/*verification*/
.verification{}
.verification .row{margin-bottom:30px;}
.verification .row>div{text-align:center;}
.verification .row>div h4{text-align:center;color:#83aaf3;font-size:15px;margin-bottom:1em;}

.verification .row>div .btn{background-color:#ff7b00;color:#fff;line-height:1;width:120px;border-radius:30px;}
.verification .row>div .btn:disabled{background-color:#969696;color:#454545;}


.identity-form,
.financial-form{padding:20px;border-top:1px solid #485877;}

.identity-form .h3-text,
.financial-form .h3-text
{color: #eaeaea;text-align:left;font-size:15px;}

.identity-form .form .text,
.financial-form .form .text
{text-align:left;margin-bottom:0;font-size:13px;}

/*fees*/
main .ctW.fees{padding-top:0;}
.fees h3{font-size:20px;border-bottom:1px solid #55caff;padding-bottom:.5em;margin-bottom:0;}
.fees ul{margin-bottom:30px;text-align:center;}
.fees ul li:not(:last-child){margin-bottom:.5em;padding-bottom:.5em;border-bottom: 1px solid #313b4a;}

.fees ul li:after{content:"";clear:both;display:block;}
.fees ul li span{width:19.5%;vertical-align:middle;display:inline-block;}
.fees ul.cryptofee li span{width:32%;}

.fees>ul>li:first-child{
	line-height:1.1;background: #4f6081;color:#fff;
	float: left;
    width: 100%;
    margin-bottom:10px;
    font-size:13px;
}

.fees>ul>li:first-child span{padding:.5em;}