@charset "utf-8";


/*手機尺吋*/	
@media (max-width: 767px) {
	
	/*style*/
	.btn-submit{min-width: 100px;}
	.row>div{margin-bottom:20px;}
	.row>div:after{display:block;content: "";clear: both;}
	
	/*
		.layout-link,
		.layout-header .lng-selector,
		.sub-nav
		{display:none;}
	*/


	/*table*/
	.table{}
	.table>thead>tr>th{vertical-align:middle;line-height:1.2}
	.table>tbody>tr>td{vertical-align:middle;line-height:1.2}
	.table td .btn{margin-bottom:3px;font-size:12px;}


	/********************global layout*************************/
	#root{padding-bottom:80px;overflow-x:auto;}
	.layout-header {height:64px;}
	.layout-header .btn{
		font-size: 18px;
	    min-width: auto;
	    padding: 0 1em;
	}

	.layout-header .btns>a{
		margin-right: 30px;
  		margin-top: 25px;
    	display: block;
    }
    .layout-header .btns>a>svg{transform:scale(2.5);color:#fff}

	.layout-header .logo {
	    left: 25px;
	    top: 10px;
	    height: 50px;
	}
	.layout-header .logo:after{
		width: 65px;
    	height: 65px;
    	top: -2px;
    	left: 0;
    }

    main{padding-top:85px;padding-left:10px;padding-right:10px;}
    main .ctW,main .ct{padding:20px 10px;}

    h2.lineTitle{}
    h2.lineTitle small{font-size:15px}
	
	/*footer*/
	footer{padding-top:0;}	
	.mobile-link{display: flex;align-items: center;justify-content: center;height:40px;}
	.mobile-link li{padding:0 .5em;text-decoration:underline;}



	/*login,form*/
    .login, .signup, .request-pwd-change{padding: 50px 15px;}
    .formList dt,.formList dd{width:100%;display:block;text-align:left;}
    .formList dt{padding-left:1em;padding-bottom:.3em;}

	
	/*setting*/
    .securityTxt{padding:0;}
    .phoneList dd{padding:0;margin-bottom:.5em;}
    .phoneList dd:after{content:"";clear: both;display: block;}

    .security-stepList{}
    .security-stepList li{margin: 2px;text-align:center;width:135px;height:135px;}
    .security-stepList li>div{}
    .security-stepList li div i {font-size:35px;}
    .security-stepList li div p{font-size:13px;margin:0 2em;}

    .verification .row>div .btn{float: none;}

	/*fees*/
	.fees {padding-left:0;padding-right:0}
	.fees ul{font-size: 12px;}
	.fees ul li span{padding: .5em;width:19%}

	/*tradding*/
	.trading{display:block;height: auto;position:static;}
	.trading .trading-L, .trading .trading-R,.trading-C{width:100%}

	.trading-info{font-size:14px;margin-bottom:80px;padding:0 30px}
	.trading-info ul{margin-bottom:1em}
	.trading-info ul li.section-title{font-size:16px;color:#fff}
	.trading-info ul li{
		margin-bottom: .5em;
    	border-bottom: 1px solid #575b61;
    	padding-bottom: .5em;
    }
    .trading-info ul li a{
 	   color: #8dcaff;
    }
	

}