/* CSS Document */
body,ul,li,ol,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;}
label{font-weight:normal;}
ul{list-style:none;}
ol{margin-left: 1.2em;}
a,button,a img,img{transition:all .5s}
a{text-decoration:none;cursor:pointer;}
a.underline{text-decoration:underline}
a img:hover{/*transform:scale(0.95);*/transition:all 0.9s}
a:hover,a:focus{color:#FFAE00;text-decoration:none;}

li a:hover{text-decoration:none;}
b{font-weight:500}

hr{border-color:#485877;}

span{display:inline-block;}
img{max-width:100%;max-height:100%;}

input,select,button,img,i{vertical-align:middle;display:inline-block;}

input[type=checkbox],input[type=radio]{width:18px;height:18px;margin:0 2px}
table th input[type=radio]:checked +label{color:#FAFF50}

input:focus{outline: none;}

select,textarea,input:not([type=checkbox]){
	width:100%;
	border:none;
	/*line-height:1;*/
	padding:.7em 1.5em .7em 1em;
	resize: none;
    background: #fff;
    letter-spacing: .1em;
    font-size:15px;
    border-radius:0;
    color:#333;
    -webkit-appearance: none;
    }

select{
	margin-bottom:1em;
	background: #FFF url(../img/arrow-k.png) no-repeat calc(100% - 6px) center;
}

::-webkit-input-placeholder,select{font-weight:normal;}

button{border:none;outline:none;background-color:#ccc;color:#333;}
button:hover{opacity:.7}

.grainentBtn{position:relative;overflow:hidden;}
.grainentBtn:after{
	content: "";
	position:absolute;
	width:100%;
	height:100%;
	left: 0;
	top: 0;
	background: linear-gradient(rgba(0,0,0,0) 25%, rgba(0,0,0,0.5) 100%); 
}


.btn-radius{font-size:17px;border-radius:1.5em;font-weight:400;padding:.5em 1.5em;}
.btn-radius:hover{}

/*三角形*/
.tringle,.tringleArea *:before{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 0 10px; /*下右上左*/
	border-color: #007bff transparent transparent transparent; /*下右上左*/
}


/*disc-list*/
.disc-list{list-style:disc;margin-left:1.5em;}
.disc-list li{margin-bottom:.5em;}
.disc-list b{color:#ff4200;}


/*U2B*/
.U2B li article{padding-bottom:52.5%;position:relative;}
.U2B li iframe{width:100%;height:100%;position:absolute;left:0;top:0;}


/*imgCover*/
.imgCover{background:no-repeat center center;background-size:cover;padding-bottom:52.75%;}
a .imgCover{transition:all .7s}
/*a:hover .imgCover{transform:scale(1.03);}*/


/*maps*/
.maps{position:relative;padding-bottom:30%;}
.maps iframe{position:absolute;width:100%;height:100%;left: 0;top:0;}

	 
/*tableStyle*/
.display-table,.display-table>li,.display-table>dl{display:table;width:100%;margin:auto;}
.display-table dt,.display-table dd,.display-table aside,.display-table article{
	display:table-cell;vertical-align:middle;font-weight:normal;
	}

/*手機時回歸原位*/ 
.display-table-xs-none{}

@media (max-width: 767px) {
   .display-table-xs-none,.display-table-xs-none>li,.display-table-xs-none>dl,
   .display-table-xs-none dt,.display-table-xs-none dd,.display-table-xs-none aside,.display-table-xs-none article
   {
   	display: block !important;
   	width: 100% !important;
   }

}

.flex-center{
				  display: flex;
				  justify-content: center;
				  align-items: center; 
				}


/*table*/
table{width:100%;margin-bottom:30px;border-collapse:collapse;border:0;text-align:center;font-size:13px;}

table th{padding:.2em .5em;background:#4f6082;color:#FFF;text-align:center;font-weight:normal;}
table td{padding:.2em .5em;text-align:center;color:#f4f4f4;}


/*list*/
.inlineBlock{
    font-size:0;
	[;font-size:12px;];
	*font-size:0;
	[;letter-spacing:-3px;];
	*letter-spacing:normal;
	*word-spacing:-1px;
    }

.inlineBlock>li{	
    display:inline-block;
	*display:inline;
	*zoom:1;
	letter-spacing:normal;
	word-spacing:normal;
	vertical-align:top;
	font-size:15px;
 }
 .inlineBlock>li a{display:block;}
 
 .list-inline{}
 .list-inline>li{
	 display:inline-block;
	 margin-right:10px;
	 }

.listTypeNone{list-style:none !important;}

/*margin*/
.MTR0{margin:0 !important;}

.MT2{margin-top:2px !important;}
.MT5{margin-top:5px !important;}
.MT10{margin-top:10px !important;}
.MT15{margin-top:15px !important;}
.MT20{margin-top:20px !important;}
.MT30{margin-top:30px !important;}
.MT50{margin-top:50px !important;}
.MT70{margin-top:70px !important;}
.MT-30{margin-top:-30px !important;}

.MB5{margin-bottom:5px !important;}
.MB10{margin-bottom:10px !important;}
.MB15{margin-bottom:15px !important;}
.MB20{margin-bottom:20px !important;}
.MB30{margin-bottom:30px !important;}

.MR5{margin-right:5px !important;}
.MR10{margin-right:10px !important;}
.MR15{margin-right:15px !important;}
.MR20{margin-right:20px !important;}
.MR30{margin-right:30px !important;}
.MR40{margin-right:40px !important;}
.MR50{margin-right:50px !important;}
.MR60{margin-right:60px !important;}
.MR70{margin-right:70px !important;}
.MR100{margin-right:100px !important;}

.ML5{margin-left:5px !important;}
.ML10{margin-left:10px !important;}
.ML15{margin-left:15px !important;}
.ML20{margin-left:20px !important;}
.ML30{margin-left:30px !important;}
.ML40{margin-left:40px !important;}
.ML50{margin-left:50px !important;}

.MTB5{margin-top:5px;margin-bottom:5px !important;}
.MTB10{margin-top:10px;margin-bottom:10px !important;}
.MTB15{margin-top:15px;margin-bottom:15px !important;}

.MLR10{margin-right:10px !important;margin-left:10px !important}
.MLR15{margin-right:15px !important;margin-left:15px !important}
.MLR20{margin-right:20px !important;margin-left:20px !important}

.PT20{padding-top:20px !important;}

.PTB5{padding-top:5px !important;padding-bottom:5px !important;}
.PTB10{padding-top:10px !important;padding-bottom:10px !important;}
.PTB20{padding-top:20px !important;padding-bottom:20px !important;}
.PTB30{padding-top:30px !important;padding-bottom:30px !important;}

.PLR5{padding-left:5px !important;padding-right:5px !important;}
.PLR10{padding-left:10px !important;padding-right:10px !important;}
.PLR15{padding-left:15px !important;padding-right:15px !important;}

.FR{float:right !important}
.FL{float:left !important}
.clearAll{clear:both !important;}

.bdrCircle{border-radius:50% !important;}
.bdr5{border-radius:5px !important;}
.bdr10{border-radius:10px !important}
.bdr15{border-radius:15px !important}
.bdr20{border-radius:20px !important}
.blue_bd5{border:5px solid #2c3a44}


/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196F3;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff6b00; 
}


/*filefox ScrollBar*/
html{
  scrollbar-color: #2196F3 #333;
  scrollbar-width: thin;
  }