@charset "utf-8";
/***************trading********************/

/**/
.tradingBody{/*overflow-y:hidden;*/}
.tradingBody #root{padding-bottom:53px;}

.tradingBody #root,
.tradingBody .layout,
.tradingBody .layout main
{height:100%;}

/*.tradingBody .layout main{padding-top:64px;}*/


.trading {
    display: flex;
    width: 100%;
    height: calc(100% - 64px - 53px);
    position: fixed;
    left: 0;
    top: 64px;
    }

.trading .message{color: #f73b03;}
.trading>section{/*display:table-cell;*/vertical-align:top;padding:0 2px;}
.trading>section>article{height:100%;overflow:auto;
	 scrollbar-color: #2196F3 #333;
     scrollbar-width: thin;
}

.trading .trading-L,
.trading .trading-R{
	width:20%;
	background-color:#333b4b;
	min-width:250px;
}


/***************center********************/
.trading-C{
	background-color:#151e2c;
	padding:0 2px;
	width: 60%;
}

.trading-C table{margin-bottom:10px;}

.trading-tradingview{height:400px;}

/*orderBook*/
.orderbook{margin-bottom:20px;}
.orderbook .title{background: #4f6082;color:#fff;text-align:center;padding: .5em .5em;font-size:15px;}

.orderbook .buyorder{width:50%;float:left;padding-left:20px;}
.orderbook .sellorder{width:50%;float:right;padding-right:20px;}

.orderbook ul,{margin-bottom:20px;}
.orderbook ul li.list-title{display:table;width:100%;}
.orderbook ul li:not(.list-title){display:table;width:100%;cursor: pointer;}
.orderbook ul li>span{display:table-cell;padding:.5em;vertical-align:top;text-align:right;width:25%;}

.orderbook ul .list-data>div{position:relative;}
.orderbook ul .list-data>div .bar{
	position:absolute;
	content:"";
	background-color:#344727;
	right:0;
	top:0;
	height:100%;
	z-index: 0;
}

.orderbook ul .list-data>div.right-red .bar{
	right:auto;
	left: 0;
	background-color:#371a2a;
}

.orderbook ul .list-data .text{display:table;width:100%;position:relative;z-index: 99}
.orderbook ul .list-data .text span{display: inline-block;padding:.5em;vertical-align:top;width:25%;text-align:right;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*openorder-table*/
.openorder-table{}
.openorder-table td{padding:.5em 1em;}
.openorder-table button{color:#333;}


/*cancle form*/
.cancel-form{
	background: #314665;
    margin: 20px;
    text-align: center;
    border-radius: 5px;
    padding:20px;
}

.cancel-form .message{margin-bottom:1em;}
.cancel-form .btn{margin:0 3px;}
.cancel-form .btn-submit{min-width:0;float:none;border-radius:5px;width:60px;}
.cancel-form .cancel-btn{border-radius:5px;width:60px;color:#333;line-height: 1.8;}



/***************right********************/
.trading-R{}
.trading-R .title{padding-left:2em;line-height:2em;padding-top:1em;font-size:15px;color:#fff;}
.trading-R .table th{background-color:#fff;color:#333;font-weight:600;}
.trading-R .table tr:nth-child(odd){background-color:#222834;}


/***************left********************/


/*Nav*/
.primary-currency{padding-left:20px;}
.primary-currency li{color:#fff;vertical-align:middle;display:inline-block;padding:1em 0;position:relative;margin-right:1em;}
.primary-currency li:after{background-color:#6597e7;position:absolute;content:"";width:0;height:3px;display:block;transition:all .7s;bottom:8px;}

.primary-currency li:hover:after,
.primary-currency li.active:after{width:100%;}

/*
.list{margin-bottom:20px;}
.list li{display:table;width:100%;}
.list li:nth-child(even){background-color:#eee;}
.list li.list-title{background-color: #FFF;color:#333;}
.list li>span{display:table-cell;padding:.5em;vertical-align:top;}
.list li>span:not(last-child){width:50%}
*/

.quote-list{margin-bottom:20px;}
.quote-list li.list-title{background-color: #FFF;color:#333;}
.quote-list li{display:table;width:100%;color:#fff;}
.quote-list li>span{display:table-cell;padding:.5em;vertical-align:top;}
.quote-list li>span:not(last-child){width:40%}
.quote-list li>span.favorite{text-align: center;color:#767676;}

.quote .quote-list li:hover:not(.list-title){cursor:pointer;background-color: #869ca7;}

.quote-list li.favor .favorite,
.primary-currency .favor
{color:#ff8300;}


/*Bids*/
.Bids{margin-bottom:20px;}
.Bids .title{background-color:#224282;color:#fff;padding-left:1em;font-size:14px;line-height:2.5;}

.Bids .btns{margin:20px;}

.Bids .btns button{width:50%;float:left;background-color:#adadad;color:#333;font-size:18px;}
.Bids .btns button:nth-child(1){border-radius:10px 0 0 10px}
.Bids .btns button:nth-child(2){border-radius: 0 10px 10px 0}

.Bids .btns button.active{background-color:#5572aa;color:#fff;box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.38);}

.Bids .buy-form{margin:0 20px;}
.Bids .buy-form .h3-text{font-size:14px;}
.Bids .buy-form input{margin-bottom:1em;}
.Bids .buy-form .amountArea *{width:50%;float:left;}
.Bids .buy-form .amountArea select{letter-spacing:0;border-right:1px solid #333; }
.Bids .buy-form .amountArea input{text-align:right;}

.Bids .buy-form .total{color:#fff;font-size:16px;}
.Bids .buy-form .total b{color:#ff357a;}

.Bids .buy-form .btn-trading{width:100%;color:#fff;font-size:18px;}

.Bids .buy-form .btn-trading:hover{opacity:.7;}
.Bids .buy-form .btn-buy{background-color:#b93131;}


/*trading-asset*/
.trading-asset{}
/*.trading-asset li + li{border-top:1px solid #4b5569;}*/

.trading-asset li.list-data:nth-child(odd){background-color:#222834;border-top: 1px solid #444e61;}
.trading-asset li .currency{padding-left:2em;}


